body{
    background-color: aqua;
    margin: 0;
}
/*
div{
    height: 33vh;
}
#div1{
    background-color: orange;
     height: 15vh;
}
#div2{
    background-color: blueviolet;
    height: 85vh;
    width: 10vw;
    float: left;
}
#div3{
    background-color: red;
    height: 85vh;
    float: left;
    width: 90vw;
}
.div2-menu{
    background-color: aqua;
    height: 5vh;
} */
table{
    border: solid;
}
th{
    border: solid black 1px;
}
